############################################
## uncomment these lines for CGI mode
## make sure to specify the correct cgi php binary file name
## it might be /cgi-bin/php-cgi

#    Action php5-cgi /cgi-bin/php5-cgi
#    AddHandler php5-cgi .php

############################################
## GoDaddy specific options

#   Options -MultiViews

## you might also need to add this line to php.ini
##     cgi.fix_pathinfo = 1
## if it still doesn't work, rename php.ini to php5.ini

############################################
## this line is specific for 1and1 hosting

    #AddType x-mapp-php5 .php
    #AddHandler x-mapp-php5 .php

############################################
## default index file

    DirectoryIndex index.php

<IfModule mod_php5.c>

############################################
## adjust memory limit

#    php_value memory_limit 64M
    php_value memory_limit 256M
    php_value max_execution_time 18000

############################################
## disable magic quotes for php request vars

    php_flag magic_quotes_gpc off

############################################
## disable automatic session start
## before autoload was initialized

    php_flag session.auto_start off

############################################
## enable resulting html compression

    #php_flag zlib.output_compression on

###########################################
# disable user agent verification to not break multiple image upload

    php_flag suhosin.session.cryptua off

###########################################
# turn off compatibility with PHP4 when dealing with objects

    php_flag zend.ze1_compatibility_mode Off

</IfModule>

<IfModule mod_security.c>
###########################################
# disable POST processing to not break multiple image upload

    SecFilterEngine Off
    SecFilterScanPOST Off
</IfModule>

<IfModule mod_deflate.c>

############################################
## enable apache served files compression
## http://developer.yahoo.com/performance/rules.html#gzip

    # Insert filter on all content
    ###SetOutputFilter DEFLATE
    # Insert filter on selected content types only
    #AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript

    # Netscape 4.x has some problems...
    #BrowserMatch ^Mozilla/4 gzip-only-text/html

    # Netscape 4.06-4.08 have some more problems
    #BrowserMatch ^Mozilla/4\.0[678] no-gzip

    # MSIE masquerades as Netscape, but it is fine
    #BrowserMatch \bMSIE !no-gzip !gzip-only-text/html

    # Don't compress images
    #SetEnvIfNoCase Request_URI \.(?:gif|jpe?g|png)$ no-gzip dont-vary

    # Make sure proxies don't deliver the wrong content
    #Header append Vary User-Agent env=!dont-vary

</IfModule>

<IfModule mod_ssl.c>

############################################
## make HTTPS env vars available for CGI mode

    SSLOptions StdEnvVars

</IfModule>

<IfModule mod_rewrite.c>

############################################
## enable rewrites

    Options +FollowSymLinks
    RewriteEngine on

############################################
## you can put here your magento root folder
## path relative to web root

    #RewriteBase /magento/

############################################
## uncomment next line to enable light API calls processing

#    RewriteRule ^api/([a-z][0-9a-z_]+)/?$ api.php?type=$1 [QSA,L]

############################################
## rewrite API2 calls to api.php (by now it is REST only)

    RewriteRule ^api/rest api.php?type=rest [QSA,L]

############################################
## workaround for HTTP authorization
## in CGI environment

    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

############################################
## TRACE and TRACK HTTP methods disabled to prevent XSS attacks

    RewriteCond %{REQUEST_METHOD} ^TRAC[EK]
    RewriteRule .* - [L,R=405]

############################################
## redirect for mobile user agents

    #RewriteCond %{REQUEST_URI} !^/mobiledirectoryhere/.*$
    #RewriteCond %{HTTP_USER_AGENT} "android|blackberry|ipad|iphone|ipod|iemobile|opera mobile|palmos|webos|googlebot-mobile" [NC]
    #RewriteRule ^(.*)$ /mobiledirectoryhere/ [L,R=302]

############################################
## always send 404 on missing files in these folders

    RewriteCond %{REQUEST_URI} !^/(media|skin|js)/

############################################
## never rewrite for existing files, directories and links

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l

############################################
## rewrite everything else to index.php

    RewriteRule .* index.php [L]

</IfModule>


############################################
## Prevent character encoding issues from server overrides
## If you still have problems, use the second line instead

    AddDefaultCharset Off
    #AddDefaultCharset UTF-8

<IfModule mod_expires.c>

############################################
## Add default Expires header
## http://developer.yahoo.com/performance/rules.html#expires

    ExpiresDefault "access plus 1 year"

</IfModule>

############################################
## By default allow all access

    Order allow,deny
    Allow from all

###########################################
## Deny access to release notes to prevent disclosure of the installed Magento version

    <Files RELEASE_NOTES.txt>
        order allow,deny
        deny from all
    </Files>

############################################
## If running in cluster environment, uncomment this
## http://developer.yahoo.com/performance/rules.html#etags

    #FileETag none

###########################################
## Deny access to cron.php
    <Files cron.php>

############################################
## uncomment next lines to enable cron access with base HTTP authorization
## http://httpd.apache.org/docs/2.2/howto/auth.html
##
## Warning: .htpasswd file should be placed somewhere not accessible from the web.
## This is so that folks cannot download the password file.
## For example, if your documents are served out of /usr/local/apache/htdocs
## you might want to put the password file(s) in /usr/local/apache/.

        #AuthName "Cron auth"
        #AuthUserFile ../.htpasswd
        #AuthType basic
        #Require valid-user

############################################

        Order allow,deny
        Deny from all

    </Files>
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

Redirect 301 /page115.html /care-daily-living/mpp-waterproof-pendant-pillow-alarm-pager.html
Redirect 301 /page120.html /care-daily-living/two-way-speech-pendant-alarm-caller.html
Redirect 301 /page128.html /care-daily-living/wireless-video-monitoring-cctv-systems.html
Redirect 301 /page18.html /care-daily-living/vibrating-radio-pagers-pendant-key-fob.html
Redirect 301 /page23.html /care-daily-living/wifi-internet-cctv-video-camera.html
Redirect 301 /page27.html /care-daily-living/radio-pager-security-products.html
Redirect 301 /page28.html /care-daily-living/gsm-telephone-auto-dialler-alarms.html
Redirect 301 /page29.html /care-daily-living/pressure-mat-alarm-kits.html
Redirect 301 /page32.html /care-daily-living/person-key-fob-transmitter-pager.html
Redirect 301 /page37.html /care-daily-living/long-range-radio-pager-fob-wristband-alerts.html
Redirect 301 /page38.html /care-daily-living/video-speech-intercom-door-entry-release.html
Redirect 301 /page40.html /care-daily-living/breathing-alarm-video-monitoring.html
Redirect 301 /page41.html /care-daily-living/smart-phones-over-50s-elderly.html
Redirect 301 /page42.html /care-daily-living/usb-paging-pc-laptop-pocsag.html
Redirect 301 /page43.html /care-daily-living/data-transmitter-encoder-receiver-pocsag.html
Redirect 301 /page48.html /care-daily-living/wireless-wc-toilet-pullcord-alarm.html
Redirect 301 /page49.html /care-daily-living/home-automation-sockets-remote-control.html
Redirect 301 /page52.html /care-daily-living/independent-living-aids.html
Redirect 301 /page54.html /care-daily-living/large-button-simple-remote-control.html
Redirect 301 /page60.html /care-daily-living/bed-chair-fall-prevention-alarms-care-homes.html
Redirect 301 /page61.html /care-daily-living/wireless-video-camera-recording-cctv.html
Redirect 301 /page63.html /care-daily-living/temperature-power-failure-alarm-gsm.html
Redirect 301 /page66.html /care-daily-living/multiple-alarm-alert-pager.html
Redirect 301 /page68.html /care-daily-living/wireless-nurse-call-system-pager-alerts.html
Redirect 301 /page72.html /care-daily-living/home-automation-pir-remote-kits.html
Redirect 301 /page75.html /care-daily-living/portable-pendant-emergency-dialler-phone.html
Redirect 301 /page83.html /care-daily-living/mobile-telephones-for-elderly.html
Redirect 301 /page89.html /care-daily-living/assistive-big-button-telephones.html
Redirect 301 /page93.html /care-daily-living/help-call-pendant-auto-dialler.html
Redirect 301 /page94.html /care-daily-living/remote-controller-door-strike-control-receivers.html
Redirect 301 /page100.html /deaf-hard-of-hearing/sound-activated-transmitter-tone-vibration-pager.html
Redirect 301 /page124.html /deaf-hard-of-hearing/telephone-ring-indicators.html
Redirect 301 /page125.html /deaf-hard-of-hearing/telephone-ringer-detectors.html
Redirect 301 /page126.html /deaf-hard-of-hearing/telephones-for-visually-impared.html
Redirect 301 /page137.html /deaf-hard-of-hearing/amplified-big-button-telephones.html
Redirect 301 /page14.html /deaf-hard-of-hearing/deaf-hard-hearing-products.html
Redirect 301 /page15.html /deaf-hard-of-hearing/vibrating-alarm-clocks-for-deaf-hard-hearing.html
Redirect 301 /page19.html /deaf-hard-of-hearing/smoke-alarms-for-deaf-hard-hearing.html
Redirect 301 /page22.html /deaf-hard-of-hearing/visual-light-door-bell-deaf-hard-hearing.html
Redirect 301 /page57.html /deaf-hard-of-hearing/sound-activated-transmitter-pager-alert.html
Redirect 301 /page67.html /deaf-hard-of-hearing/large-button-extra-loud-telephones.html
Redirect 301 /page73.html /deaf-hard-of-hearing/visual-telephone-amplifiers.html
Redirect 301 /page74.html /deaf-hard-of-hearing/vibrating-alarm-clocks-for-the-deaf.html
Redirect 301 /page82.html /deaf-hard-of-hearing/large-button-loud-cordless-telephones.html
Redirect 301 /page98.html /deaf-hard-of-hearing/large-button-extra-loud-cordless-phones.html
Redirect 301 /page10.html /dementia-care/bed-chair-mat-occupancy-alarms.html
Redirect 301 /page11.html /dementia-care/pressure-mat-alarm-transmitters.html
Redirect 301 /page116.html /dementia-care/watch-care-wirless-video-monitoring.html
Redirect 301 /page118.html /dementia-care/enusens-bed-wetting-trainer-incontinence-alarm.html
Redirect 301 /page12.html /dementia-care/motion-activated-voice-reminders.html
Redirect 301 /page132.html /dementia-care/communication-memory-aids-dementia.html
Redirect 301 /page144.html /dementia-care/radio-pager-kits-door-alarms.html
Redirect 301 /page16.html /dementia-care/bed-chair-occupancy-alarm-kits.html
Redirect 301 /page24.html /dementia-care/pressure-mat-door-switch-alarm-pager.html
Redirect 301 /page30.html /dementia-care/photo-electric-break-beam-sensor-alarm-infrared.html
Redirect 301 /page35.html /dementia-care/bedwetting-incontinence-alarm-pager.html
Redirect 301 /page45.html /dementia-care/bed-chair-occupancy-alarms.html
Redirect 301 /page47.html /dementia-care/doorwatch-monitoring-wristband-alarms-dementia.html
Redirect 301 /page53.html /dementia-care/bed-wetting-incontinence-alarms.html
Redirect 301 /page56.html /dementia-care/talking-pill-box-reminder.html
Redirect 301 /page76.html /dementia-care/cordless-bed-chair-leaving-alarms.html
Redirect 301 /page79.html /dementia-care/wireless-door-window-pir-wander-alarm.html
Redirect 301 /page80.html /dementia-care/bed-leaving-alarm-nurse-call.html
Redirect 301 /page84.html /dementia-care/bed-chair-occupancy-detection-alarms.html
Redirect 301 /page87.html /dementia-care/dementia-elderly-care-products.html
Redirect 301 /page92.html /dementia-care/door-window-alarm-pager.html
Redirect 301 /page4.html /epilepsy-care/seizure-detection-fall-alarms.html
Redirect 301 /page7.html /epilepsy-care/epilepsy-fall-alarm-telephone-dialler.html
Redirect 301 /page9.html /epilepsy-care/care-alarms-seizure-fall-dementia.html
Redirect 301 /page90.html /epilepsy-care/floor-pressure-mat-alarm-pager.html
Redirect 301 /page91.html /epilepsy-care/automatic-fall-alarm-telephone-dialler.html
Redirect 301 /page100.html /care-daily-living/doro-big-button-easy-mobile-phones-elderly.html
Redirect 301 /page108.html /care-daily-living/electronic-door-strike-lock-release-radio-receiver.html
Redirect 301 /page110.html /care-daily-living/doro-amplicom-auto-dialler-telephones-pendant-wrist.html
Redirect 301 /page115.html /care-daily-living/remote-controller-mains-power-socket-kit.html
Redirect 301 /page59.html /care-daily-living/remote-controller-mains-power-socket-kit.html
Redirect 301 /page124.html /care-daily-living/carephone-speech-pendant-alarm-caller-system.html
Redirect 301 /page127.html /care-daily-living/doro-liberto-920-825-smartphones-elderly.html
Redirect 301 /page134.html /care-daily-living/watch-care-wireless-video-monitoring-system.html
Redirect 301 /page139.html /care-daily-living/independent-living-products-home-safety-alerts.html
Redirect 301 /page43.html /care-daily-living/pocsag-long-range-message-paging-pager-transmitter.html
Redirect 301 /page20.html /care-daily-living/pocsag-pager-data-transmitter-receiver-modules.html
Redirect 301 /page37.html /care-daily-living/wireless-care-call-system-pendant-movement.html
Redirect 301 /page93.html /care-daily-living/person-key-fob-transmitter-pager.html
Redirect 301 /page38.html /care-daily-living/person-key-fob-transmitter-pager.html
Redirect 301 /page40.html /care-daily-living/wc-toilet-disabled-wireless-pull-cord-alarm.html
Redirect 301 /page47aa.html /care-daily-living/mpp-waterproof-pendant-transmitter-paging-panic-alarm.html
Redirect 301 /page50.html /care-daily-living/video-speech-intercom-door-entry-release-button.html
Redirect 301 /page52a.html /care-daily-living/gsm-telephone-auto-dialler-alarm-kits.html
Redirect 301 /page54.html /care-daily-living/wireless-cctv-video-camera-monitoring-system-wifi-ip.html
Redirect 301 /page86.html /care-daily-living/low-cost-wireless-door-window-pir-alarms.html
Redirect 301 /page87.html /care-daily-living/wireless-video-camera-monitor-intercom-door-release.html
Redirect 301 /page94.html /care-daily-living/wireless-magentic-door-switch-chime-pager.html
Redirect 301 /page97.html /care-daily-living/wireless-cctv-video-camera-monitor-sd-card-recording.html
Redirect 301 /page98.html /care-daily-living/simple-large-button-remote-control-item-finder.html
Redirect 301 /page99.html /care-daily-living/doro-special-telephones-dexterity-large-button.html
Redirect 301 /pafe111.html /deaf-hard-of-hearing/sound-activated-transmitter-alert-pager.html
Redirect 301 /page129.html /deaf-hard-of-hearing/telephones-for-visually-impaired-people.html
Redirect 301 /page132.html /deaf-hard-of-hearing/sound-activated-transmitter-tone-vibration-alert-pager.html
Redirect 301 /page30.html /deaf-hard-of-hearing/flashing-visual-door-bells-for-deaf-hard-hearing.html
Redirect 301 /page45.html /deaf-hard-of-hearing/wire-free-smoke-alarm-systems-deaf-hearing.html
Redirect 301 /page51.html /deaf-hard-of-hearing/geemarc-amplicall-visual-telephone-doorbell-alert.html
Redirect 301 /page70.html /deaf-hard-of-hearing/portable-alarm-clock-deaf-hard-hearing.html
Redirect 301 /page71.html /deaf-hard-of-hearing/bedside-alarm-clock-shaker-deaf-hard-hearing.html
Redirect 301 /page76.html /deaf-hard-of-hearing/telephone-earpiece-amplifier-inline-handset.html
Redirect 301 /page80.html /deaf-hard-of-hearing/portable-inductive-loop-amplifier-for-hearing-aids.html
Redirect 301 /page91.html /deaf-hard-of-hearing/doro-amplicom-auto-dialling-telephones.html
Redirect 301 /page101.html /dementia-care/tone-vibrating-alert-radio-pager-transmitter-alerts.html
Redirect 301 /page18.html /dementia-care/tone-vibrating-alert-radio-pager-transmitter-alerts.html
Redirect 301 /page114.html /dementia-care/wireless-water-level-bath-overflow-detector-alarm.html
Redirect 301 /page121.html /dementia-care/big-button-mobile-telephones-gps-tracker-location.html
Redirect 301 /page123.html /dementia-care/bed-wetting-trainer-adult-incontinence-alarm-nurse.html
Redirect 301 /page13.html /dementia-care/bed-chair-leaving-alarm-nurse-call-connection.html
Redirect 301 /page14.html /dementia-care/bed-chair-leaving-alarm-kit-pager-alerts.html
Redirect 301 /page15.html /dementia-care/bed-chair-occupancy-pressure-mat-alarm-pager.html
Redirect 301 /page35.html /dementia-care/bed-chair-fall-prevention-alarm-systems.html
Redirect 301 /page44a.html /dementia-care/bed-chair-occupancy-pressure-mat-pager-voice-reminder.html
Redirect 301 /page45aaa.html /dementia-care/floor-pressure-mat-wireless-alarms-long-range.html
Redirect 301 /page46.html /dementia-care/bed-chair-occupancy-pager-delay-option.html
Redirect 301 /page48.html /dementia-care/photo-electric-infrared-beam-alarms.html
Redirect 301 /page52.html /dementia-care/door-window-alarm-transmitter-pager.html
Redirect 301 /page56.html /dementia-care/wireless-gsm-temperature-alarm-text-alerts.html
Redirect 301 /page57.html /dementia-care/cordless-bed-chair-leaving-alarm-sensor-transmitter.html
Redirect 301 /page61.html /dementia-care/pir-motion-activated-voice-memo-reminder.html
Redirect 301 /page69.html /dementia-care/bed-wetting-trainer-adult-incontinence-alarm.html
Redirect 301 /page75.html /dementia-care/photo-dial-big-button-extra-amplification-telephone.html
Redirect 301 /page79.html /dementia-care/bed-wetting-trainer-adult-incontinence-pager.html
Redirect 301 /page90.html /dementia-care/pressure-floor-mat-nurse-call-transmitter.html
Redirect 301 /epilepsy.html /epilepsy-care/epileptic-seizure-detection-alarms.html
Redirect 301 /page137.html /epilepsy-care/epilepsy-fall-detectors-pendant-call-button-alarms.html
Redirect 301 /page84.html /epilepsy-care/epilepsy-fall-detector-pendant-alert.html
